<div id="job_actions">
  <h3>Admin</h3>
  <ul>
    {% if not entity.isActivated %}
        <li><a href="{{ path('ens_job_edit', { 'token': entity.token }) }}">Edit</a></li>
        <li>
          <form action="{{ path('ens_job_publish', { 'token': entity.token }) }}" method="post">
            {{ form_widget(publish_form) }}
            <button type="submit">Publish</button>
          </form>
        </li>
    {% endif %}
    <li>
      <form action="{{ path('ens_job_delete', { 'token': entity.token }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" onclick="if(!confirm('Are you sure?')) { return false; }">Delete</button>
      </form>
    </li>
    {% if entity.isActivated %}
      <li {% if entity.expiresSoon %} class="expires_soon" {% endif %}>
        {% if entity.isExpired %}
          Expired
        {% else %}
          Expires in <strong>{{ entity.getDaysBeforeExpires }}</strong> days
        {% endif %}
 
        {% if entity.expiresSoon %}
          - <a href="">Extend</a> for another 30 days
        {% endif %}
      </li>
    {% else %}
      <li>
        [Bookmark this <a href="{{ url('ens_job_preview', { 'token': entity.token, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">URL</a> to manage this job in the future.]
      </li>
    {% endif %}
  </ul>
</div>