{% extends 'EnsJobeetBundle::layout.html.twig' %}
 
{% block content %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/jobs.css') }}" type="text/css" media="all" />
  <div id="jobs">
    {% for category in categories %}
      <div class="category_{{ category.slug }}">
      <div>
        <div class="category">
          <div class="feed">
            <a href="">Feed</a>
          </div>
          <h1><a href="{{ path('EnsJobeetBundle_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
        </div>
        <table class="jobs">
          {% for entity in category.activejobs %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
              <td class="location">{{ entity.location }}</td>
              <td class="position">
                <a href="{{ path('ens_job_show', { 'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">
                  {{ entity.position }}
                </a>
              </td>
              <td class="company">{{ entity.company }}</td>
            </tr>
          {% endfor %}
        </table>
        {% if category.morejobs %}
            <div class="more_jobs">
              and <a href="{{ path('EnsJobeetBundle_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
              more...
            </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block body %}
    <h1>Jobs list</h1>

    {% include 'EnsJobeetBundle:Job:list.html.twig' with {'jobs': category.activejobs} %}

    <ul>
        <li>
            <a href="{{ path('ens_job_new') }}">Create a new job</a>
        </li>
    </ul>
{% endblock %}
